.hero-overlay {
    position: absolute;
    margin: 0;
    height: 100vh;
    max-width: 50vw;
    width: 50vw;

    .modal-content {
        height: 100vh;
    }
}

.hero-img {
    max-height: 50vh;
    max-width: 50vh;
    margin: 0 auto;
    display: block;
}